In [1]:
import pandas as pd
import altair as alt

In [2]:
irradiance_df = pd.read_csv("data/irradiance.csv")

In [3]:
irradiance_df

    device_id            timestamp  irradiance
0           9  2024-06-01 00:00:00           0
1           9  2024-06-01 01:00:00           0
2           9  2024-06-01 02:00:00           0
3           9  2024-06-01 03:00:00           0
4           9  2024-06-01 04:00:00           0
5           9  2024-06-01 05:00:00           0
6           9  2024-06-01 06:00:00           0
7           9  2024-06-01 07:00:00         121
8           9  2024-06-01 08:00:00         342
9           9  2024-06-01 09:00:00         751
10          9  2024-06-01 10:00:00         888
11          9  2024-06-01 11:00:00         972
12          9  2024-06-01 12:00:00        1000
13          9  2024-06-01 13:00:00         966
14          9  2024-06-01 14:00:00         850
15          9  2024-06-01 15:00:00         600
16          9  2024-06-01 16:00:00         543
17          9  2024-06-01 17:00:00         200
18          9  2024-06-01 18:00:00          18
19          9  2024-06-01 19:00:00           0
20          9  2024-06-01 20:00:00           0
21          9  2024-06-01 21:00:00           0
22          9  2024-06-01 22:00:00           0
23          9  2024-06-01 23:00:00           0
24          9  2024-06-02 00:00:00           0
25          9  2024-06-02 01:00:00           0
26          9  2024-06-02 02:00:00           0
27          9  2024-06-02 03:00:00           0
28          9  2024-06-02 04:00:00           0
29          9  2024-06-02 05:00:00           0
30          9  2024-06-02 06:00:00           0
31          9  2024-06-02 07:00:00         123
32          9  2024-06-02 08:00:00         345
33          9  2024-06-02 09:00:00         751
34          9  2024-06-02 13:00:00         964
35          9  2024-06-02 14:00:00         851
36          9  2024-06-02 16:00:00         555
37          9  2024-06-02 17:00:00         289
38          9  2024-06-02 18:00:00          25
39          9  2024-06-02 19:00:00           0
40          9  2024-06-02 20:00:00           0
41          9  2024-06-02 21:00:00           0
42          9  2024-06-02 22:00:00           0
43          9  2024-06-02 23:00:00           0
44          9  2024-06-03 06:00:00           0
45          9  2024-06-03 07:00:00         157
46          9  2024-06-03 08:00:00         458
47          9  2024-06-03 09:00:00         689
48          9  2024-06-03 10:00:00         867
49          9  2024-06-03 11:00:00         970
50          9  2024-06-03 12:00:00         977
51          9  2024-06-03 13:00:00         971
52          9  2024-06-03 14:00:00         786
53          9  2024-06-03 15:00:00         750
54          9  2024-06-03 16:00:00         555
55          9  2024-06-03 17:00:00         298
56          9  2024-06-03 18:00:00           0